%h1 Hack Factory
%h3 Minneapolis, MN
%h4 Car #26
= image_tag "hackfactory_profile.jpg", :class => "pull-right"
%p 2012 was full of pleasant surprises for Hack Factory. Climbing from 22nd to 6th was no small feat, and the team used two cars to build up their Moxie campaign. Their "Scooter of Death" was the team's front-runner and managed to score some critical points at the season ender in Evanston. It even managed to grab their first ever podium at the final race of the year. 
%p Hack Factory will be back with an even stronger car for 2013 and looks to employ another two-car team. So far, the Factory has used a fast car/moxie car strategy, but they will have to ramp up the silliness this year to compete with the new slew of rules catered to the more ridiculous teams. If they manage to build a faster ride, they might even be able to grab a win this season. 
