%h1 Hack Pittsburgh
%h3 Pittsburgh, Pennsylvania
%h4 Car #006
= image_tag "hackpgh_profile.jpg", :class => "pull-right"
%p If there's a team to bet on for 2013, it would be HackPGH, however we would like to point out that it is totally not OK to bet on Power Racing entries (though we can't control what we don't see, wink wink). Since their 2011 debut, they have been slowly building momentum and producing more reliable and fast machines. What makes this hackerspace so plucky is their resourcefulness and character. When they built a car with the wrong tires, they laboriously rebuilt it with better ones. When they dressed up as James Bond in NYC and the heavens opened up, they stayed out and clocked some serious laps in the rain. This team has the right balance of speed with the right understanding of Moxie to really make a name for themselves on the East Coast. If only we could get a few more races out of them per season and perhaps a few more races out of the East Coast, they could be legitimate title contenders.
