%h1 The Lone Hacker
%h3 Omaha, NE
%h4 Car #2
= image_tag "lonehacker_profile.jpg", :class => "pull-right"
%p At any point in the season, the Lone Hacker has been a contender for not just the Moxie Cup, but for the entire series. That's right: one man from Omaha has been able to hold his own in front of some of the best hackerspaces in the Midwest. However his first win in 2012 was bittersweet. He sat out rest of the season after leaving the country for a business trip to India.
%p LHR is a crowd favorite and yearly the most entertaining builder in the series. Last year, he built a hand mounted nerf gun that had the best aim/firing ratio of any nerf gun on the track. He also had a rear-mounted nerf booby trap that managed to shoot Jordan Bunker in the face. Twice. 
%p Kyle THE "Lone Hacker" has vowed to wow us this year with a legitimate attempt at the title. If the previous seasons have been displays of the opposite, we can only imagine what he can achieve next.
