%h1 LVL1
%h3 Louisville, Kentucky
%h4 Car #009
= image_tag "lvl1_profile.jpg", :class => "pull-right"
%p Luck does not fare well for LVL1. For the 2011 season, they built a car to 2009 spec, which means a car that was bone stock yet stunningly gorgeous. In 2012 they built what would be a fantastically competitive machine, only for it to fry itself on the eve of its debut. Always colorful, always ambitious, and never a team to simply pack it in, they show up and race anyway. Though they didn't fare any better in 2012 than in their debut, they still managed to put on some fun, even if we let them race with a totally illegal entry. We hope that for 2013 they glue some four leaf clovers to the frame of their chassis and perhaps do some sort of tribal dance/sacrifice for some non-existent god. Just maybe, perhaps with a little bit of good timing and a few misguided superstitions, we just might see them roll triumphantly into town, where they can feel the soul crushing satisfaction of having a competitive and wonderfully prepared car breaking down in the middle of a race. 

