%h1 Milwaukee Makerspace
%h3 Milwaukee, WI
%h4 Cars #5 #55
= image_tag "milwaukee_profile.jpg", :class => "pull-right"
%p Championship hopes for Milwaukee Makerspace fell short once again in 2012 after a rough season with a tremendous yet overpowered car. The low, wide and furious Jakenstien was to be their rule-bending answer to the Sector 67’s dominance. Unfortunately this plan did not come to fruition as the car spent most of the season under repair or banned from competition. The team remained upbeat, as they usually do, with some on track antics that entertained the crowd, including driving a pair of flat tires down to the rim at the very last race of the season.
%p Much like i3, Milwaukee Makerspace has been incredibly close to title hopes. In 2010 they finished just shy of i3 with the smiley bearded face of Royce Pipkins in the aptly named Grave Digger. The car, having a regular need to prove its namesake proceeded to wreck itself out of competition in 2011 until it was written off completely in dramatic fashion during a mid-race flip in the Detroit Grand Prix. The team has since retired the car and have been building a better title contender since, but with limited success.
%p 2012 was the first winless season for Milwaukee, yet they still managed a top 10 in the points, their 2013 operation will hopefully return them to glory once more.
