%h1 Pumping Station: One
%h3 Chicago, IL
%h4 Car #1
= image_tag "ps1_profile.jpg", :class => "pull-right"
%p The oldest team in the Power Racing Series has finally finished in the top 5! The Bluesmobile was a promising machine with some impressive drive train innovations and a very solid custom built chassis. Despite all these features, reliability was not a standard option. Despite the clever efforts of the team, the machine fried motor after motor, leaving the immensely quick machine unable to compete like it should. By season’s end, reliability had finally found its place, culminating with a startling podium finish in the final endurance race of the year.
%p Starting its history as “The Todd Ianuzzi Experience” the team won the first ever PPPRS race in 2009. Ever since, the PS1:GP team moved from team owner to team owner and only found victory again in 2011 in an unlikely endurance race showdown with Sector 67.
%p For 2013, the team is going on a full moxie campaign, and paired up with J-Squad again, the odds of going for the title might be in their favor if they can just sort out that reliability.
