%h1 Ribbon Farm
%h3 Detroit, MI
%h4 Car #???
= image_tag "ribbonfarm_profile.jpg", :class => "pull-right"
%p I don't think we ever anticipated a team like Ribbon Farm. We are usually prepared for the antics of Omni Corp Detroit, but nothing prepared us for the tiniest of tiny teams to come out of Rock City. The car was bone stock, except for a chassis made to carry a pair of car batteries. The dash was entirely custom….made out of a sesame street toddler's toy. They had more cans of silly string than battery chargers and they also managed to complete so few laps that they probably didn't need to keep a transponder on them. There's even videos of i3 Detroit, a much more serious business team, passing them four times before they completed a single lap. 
%p With this in mind, they are the single greatest display of Moxie ever put to a team, and they are pretty much the best because of that. 
