%h1 Sector 67
%h3 Madison, WI
%h4 Cars #67 #76
= image_tag "sector_profile.jpg", :class => "pull-right", :alt => "Sector 67"
%p Two years and two titles. That about sums it up for the notoriously quick and talented Madison, Wi., outfit. In their short time with our series, they have won more races than anyone else, earned more moxie than just about anybody else and have become the de facto toast of the tiny electric car racing town.
%p Their 2012 entry, aptly named Fauxrrari, was a prancing wheelie-popping horse of near perfection. Aside from a few bits of shoddy steering, the car was nearly untouchable. It was so dominant early in the season that it had the audacity to tow the team’s second car, Black Beauty, around the track while still leading.
%p The team continues its tirade for 2013 with the hope of finding another way to exploit the rules so it can win everything. The team has expressed its weariness of this, and desperately wishes for some new or old whipper snappers to show them who’s boss.
