<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to PPPRS, <%= @person.full_name %></h1>
    <p>
    You have successfully signed up for the Power Racing Series 2013 season,
    your username is your email address: <%= @person.email %>.<br/>
    </p>
    <p>
    To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for signing up and we hope to see you at the track! NOW GET TO WORK!</p>
  </body>
</html>

