%h1 All Hands Active
%h3 Ann Arbor, MI 
%h4 Car #888
= image_tag "allhands_profile.jpg", :class => "pull-right"
%p The Power Racing Series contains two distinct classes of teams: one is a team that wants to win and the other is a group of misguided weirdos who like to have fun. All Hands falls into the weirdos category. Despite relying entirely on crowd support, the team managed a very respectable 9th place in points. It was the only team (ever) to utilize a strange steering linkage that permitted the driver to stand upright during the race. It was like watching a moving dance platform complete laps in the world's most baffling race. 
%p All Hands is set to return in 2013 with another attempt at the Moxie cup. Their closest competitors are the respectable and formidable Omni Corp Detroit team, who busted out all the stops for last year. 
