%h1 CCCKC
%h3 Kansas City, MO
%h4 Car #911
= image_tag "ccckc_profile.jpg", :class => "pull-right"
%p Slow and steady might not win you the race, but it does reward you points. Having achieved 3rd place in 2012 with just a steady pace and incremental improvements to their car, you can bet that the Kansas City family of makers will be eyeing the main title for 2013. The team comprises the sunny and happy southern hospitality loving Mehl family. This group of roving maker engineers have terrorized the FIRST robotics scene and held their own against teams who had the financial backing that would rival the GDP of small EU nations. The Mehl family are best known for being ridiculously nice to just about every single person (whether they deserved it or not) and have used this to their advantage on the track. Keeping bumpers clean and making sure that their car is kept well prepared has rewarded them with some dead-on consistency.
%p For 2013 we imagine that they will build a new car, or if not they will probably just send us cookies. Cause they’re like that.
