%h1 i3 Detroit
%h3 Detroit, MI
%h4 Car #3
= image_tag "i3_profile.jpg", :class => "pull-right"
%p The official “best of the rest” team of 2012, the hometown heroes of the Detroit Grand Prix are considered to be perennial underdogs. Don’t ever tell this to their star driver Karen “Cannonball” Corbeill. She’s made a name in this series as the most aggressive and talented driver after a string of epic victories against all odds.  Her squad won a title way back in 2010 but have placed OK in the series ever since. Karen has yet to win the title herself but odds are in her favor just about every season. Fingers crossed.
%p i3’s car was built to her spec and she seems to be the only one capable of wrangling the machine. The car has been described as difficult to handle, touchy on brakes and having a center of gravity akin to an elephant on a beach ball. Despite this, she has nabbed 7 victories away from Sector 67, and has even clocked faster lap times than a car that many in the paddock consider “infinitely superior” to her own.
%p The 2013 season will be i3’s 4th season in the PPPRS, which ties it as one of the longest operating teams with Milwaukee Makerspace, Omni Corp Detroit, and Pumping Station: One.
