%h1 The Wedding Party
%h3 Peoria, IL
%h4 Car #11
= image_tag "weddingparty_profile.jpg", :class => "pull-right"
%p Two teams went with brushless motors in 2012: the somewhat successful Pumping Station: One outfit, who had to resort to rebuilding their motor no less than five times, and the Wedding Party. The latter did not rebuild as many motors, because they managed to burn them to a crisp. Is this a bad thing? Probably not. The Moxie they managed from their various fires were legendary.
%p The team also was in good spirits throughout 2012: their theme was solid, their costumes were clever and in general they seemed to take the consistent and ever-looming failure that is Power Wheel racing in stride. It is hardly the fault of a new team though: PPPRS tends to either reward them with a championship or dash their hopes into balls of fire.
%p Though the Wedding Party crashed often, it didn't dim the bright future for the little team that could and 2013 may very well have some podium finishes if they can figure out how not to BBQ their ride.
