#headerwrap.teams

#w
  .container.wb
    .row
      .col-xs-12
        %h1
          Teams 
          %small Mates. Comrades. The slightly deranged.
      - if @teams.empty?
        %h2 There are currently no teams officially registered for the 2013 season.
        %h3 Check back soon!
    .row
      - @teams.each do |team|
        .col-xs-12.col-sm-6.col-md-4.col-lg-3
          .thumbnail.team-thumbnail
            = image_tag( (team.image_url(:wide) || "default_person.png"))
            .caption
              %h4= link_to team.name, team
              %em= team.location
-#
  .container
    .row
      = render :partial => "teams/past"
