.container
  .row.centered
    %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "350", :src => "//player.vimeo.com/video/84550345", :title => "Vimeo video player", :width => "600"} 

.container
  .row.centered
    %h1 Highlights
    %p
      %div{:data_url=>"//player.vimeo.com/video/84550345", :class=>"col-lg-4 video"}
        =image_tag"Season6PowerRacingSeriesLiquidWrenchPromo.jpg"
        %h4 Liquid Wrench Promo
        %em Season 6
      %div{:data_url=>"//player.vimeo.com/video/84005486", :class=>"col-lg-4 video"}
        =image_tag "KarenCannonballCorbeillRetirementTribute.jpg"
        %h4 Karen "Cannonball" Corbeill
        %em Retirement Tribute  
      %div{:data_url=>"//player.vimeo.com/video/102385957", :class=>"col-lg-4 video"}
        =image_tag "DetroitBulletproof2014.jpg"
        %h4 Bulletproof
        %em Maker Faire Detroit, 2014
      %div{:data_url=>"//player.vimeo.com/video/101199528", :class=>"col-lg-4 video"}
        =image_tag "DetroitTeaser2014.jpg"
        %h4 Teaser
        %em Maker Faire Detroit, 2014
      %div{:data_url=>"//player.vimeo.com/video/99713226", :class=>"col-lg-4 video"}
        =image_tag "SanMateoTeenageBrains2014.jpg"
        %h4 Teenage Brains
        %em Maker Faire San Mateo, 2014
      %div{:data_url=>"//player.vimeo.com/video/99639489", :class=>"col-lg-4 video"}
        =image_tag "KansasCityPlasticShadows2014.jpg"
        %h4 Plastic Shadows
        %em Maker Faire Kansas City, 2014
      %div{:data_url=>"//player.vimeo.com/video/78620406", :class=>"col-lg-4 video"}
        =image_tag "BoneshakerChicagoFallClassic2013.jpg"
        %h4 Boneshaker Fall Classic
        %em Chicago, 2013  
      %div{:data_url=>"//player.vimeo.com/video/74696335", :class=>"col-lg-4 video"}
        =image_tag "MakerFaireFortWayneGhettoLove2013.jpg"
        %h4 Ghetto Love
        %em Maker Faire Fort Wayne, 2013  
      %div{:data_url=>"//player.vimeo.com/video/72018562", :class=>"col-lg-4 video"}
        =image_tag "DetroitGetOverIt2013.jpg"
        %h4 Get Over It 2013
        %em Maker Faire Detroit, 2013
      %div{:data_url=>"//player.vimeo.com/video/69822654", :class=>"col-lg-4 video"}
        =image_tag "KansasCityGoHome2013.jpg"
        %h4 Gotta Go Home
        %em Maker Faire Kansas City, 2013
      %div{:data_url=>"//player.vimeo.com/video/67061857", :class=>"col-lg-4 video"}
        =image_tag "SanMateoBitByBit2013.jpg"
        %h4 Bit By Bit
        %em Maker Faire San Mateo, 2013
      %div{:data_url=>"//player.vimeo.com/video/50813008", :class=>"col-lg-4 video"}
        =image_tag "MakerFaireNewYorkEchoes2012.jpg"
        %h4 Echoes
        %em Maker Faire New York, 2012
      %div{:data_url=>"//player.vimeo.com/video/50511769", :class=>"col-lg-4 video"}
        =image_tag "PowerRacingSeriesMakerFaireNYCMITvsSector672012.jpg"
        %h4 MIT vs. Sector 67
        %em Maker Faire New York, 2012
      %div{:data_url=>"//player.vimeo.com/video/48371471", :class=>"col-lg-4 video"}
        =image_tag "MakerFaireWorldAd.jpg"
        %h4 Maker Faire World Ad
      %div{:data_url=>"//player.vimeo.com/video/47237915", :class=>"col-lg-4 video"}
        =image_tag "MiniMakerFaireEvanstonLonelyBoy2012.jpg"
        %h4 Lonely Boy
        %em Mini Maker Faire Evanston, 2012
      %div{:data_url=>"//player.vimeo.com/video/46933618", :class=>"col-lg-4 video"}
        =image_tag "MiniMakerFaireEvanstonFinaleSector67vi3Detroit2012.jpg"
        %h4 The Finale: Sector 67 vs. i3 Detroit
        %em Mini Maker Faire Evanston, 2012
      %div{:data_url=>"//player.vimeo.com/video/46605204", :class=>"col-lg-4 video"}
        =image_tag "MakerFaireDetroitOhItsSuchAShame2012.jpg"
        %h4 Oh It's Such a Shame
        %em Maker Faire Detroit, 2012
      %div{:data_url=>"//player.vimeo.com/video/44644726", :class=>"col-lg-4 video"}
        =image_tag "MakerFaireKCStopBreakingDown2012.jpg"
        %h4 Stop Breaking Down
        %em Maker Faire Kansas City, 2012
.container
  .row.centered
    %h1 Promos & Trailers
    %p
      %div{:data_url=>"//player.vimeo.com/video/83915987", :class=>"col-lg-4 video"}
        =image_tag "Season6PowerRacingSeriesTrailer.jpg"
        %h4 Season 6 Trailer
      %div{:data_url=>"//player.vimeo.com/video/61508129", :class=>"col-lg-4 video"}
        =image_tag "Season5PowerRacingSeriesTrailer.jpg"
        %h4 Season 5 Trailer
      %div{:data_url=>"//player.vimeo.com/video/29414017", :class=>"col-lg-4 video"}
        =image_tag "2012Trailer.jpg"
        %h4 Season 4 Trailer
      %div{:data_url=>"//player.vimeo.com/video/11127046", :class=>"col-lg-4 video"}
        =image_tag "2010Trailer.jpg"
        %h4 Season 2 Trailer   
      %div{:data_url=>"//player.vimeo.com/video/43936083", :class=>"col-lg-4 video"}
        =image_tag "PowerRacingSeriesAndEducationInAmerica.jpg"
        %h4 PPPRS and Education in America
      %div{:data_url=>"//player.vimeo.com/video/43507162", :class=>"col-lg-4 video"}
        =image_tag "Indiegogo2012.jpg"
        %h4 Indiegogo 2012
      
      


      
