.container
  %h1 Manage your team's cars
  %p Delete, Edit your race cars
  - @cars.each do |car|
    .row-fluid
      .span6
        %h2 #{car.name} ##{car.number}
      .span2
        = link_to "Edit", edit_car_url(car), :class => "btn btn-primary"
        = link_to "Delete", car, method: "delete", data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
