:markdown
  ## 1 | Teams
  ### 1.1 | Team Structure

  Hackerspace teams must contain a minimum of three members (1 driver, 1 mechanic, and 1 volunteer). There is no upper limit to how many members a team may have. For example, every year Sector 67 submits a team roughly the population of the state of California. No person may be on more than one team. Each team may enter as many cars as they wish to use during a season, though it is suggested that they submit no more than two, since teams are required to modify and repair them as necessary. Hackerspaces are not limited to a specific number of teams. Each event is limited to a maximum of 24 entries. If somehow more than 24 entrants show up to a race, we will host a legitimate qualifying round, where the least creative and/or slowest teams will be subject to the embarrassment of failing to qualify for an event that features children’s toys.

  ### 1.2 | The Team Volunteer

  Teams are required to submit at least one volunteer to the Power Racing Series for each race weekend in which they participate. This volunteer will work on your car the least and spend most of their time helping out with flag marshalling, track set up and race day operations. NOTE: if you fail to supply a volunteer, your team will be fined a $50 fee once per race weekend. Do not select your driver as your volunteer, unless you don’t feel like racing. We suggest you pick somebody from the team who is enthusiastic but tends not to have the crucial technical skills necessary for your team (so don’t give us the only team member who knows how to fix your car).

  For amusement, we condone the selection of the team member you dislike the most. Team volunteers are essential to keeping the series running and ensuring the safety and timeliness of the event. The more volunteers we have, the more smoothly the event will run. On race day, the volunteers will be given instructions for the job(s) they will need to perform, as well as a schedule of times they will need to commit to volunteering.  Do not skimp out on sending us volunteers, because the minute you complain about something “not happening on time” or “you should do it like x or y,” my answer will be “where’s your volunteer?” Not sending a volunteer means you are short $50 per race weekend and waives your right to complain. Yeah. I just said that. That’s a rule now. Oh, and all of our volunteers will get a fancy t-shirt. It will be fancy, I swear.

  ### 1.3 | Team Labeling & Visibility
  #### 1.3.1 | Car Numbers

  Due to our spiffy and super serious scoring system, it is ABSOLUTELY important to properly label your car number. Make your numbers clear and visible. We want our grandmothers to be able to see your car number from the moon. Also, due to the limitations of our stupid official scoring system, your car number cannot be more than 5 whole-number digits. Boring, we know. Sorry guys, the clever numbers might end up on the chopping block in the name of proper timing and scoring.

  #### 1.3.2 | Team Label for the Moxie Board

  Since this is a fancy hackerspace event, we have a nifty home-brewed arduino controlled moxie points system. The “Moxie Board,” as we call it, is a giant button board with several label slots next to buttons that will allow race patrons to give your team points. The slots are roughly 6x1.75 inches in size and will fit a relatively thin label (paper or cardboard).  Teams are responsible for making their own labels. It must contain your car number and your team name, and if you want you can include your hackerspace. It is up to you to make the label legible. Many, MANY teams screw this up. Be creative but clear. Label your team name cleanly and carefully. Keep in mind that you are trying to appeal to complete strangers who just wandered up to the track; they don't know who you are. You want to make sure either verbally or visually that pressing your button affects your car on the track. If your car is blue, make your label blue. If there's a quirk or theme to your car, make sure the audience knows it (e.g. it's the James Bond car). You will thank me for this later. Just to recap: MAKE YOUR LABEL READABLE AND INFORMATIVE. For further clarification on Moxie points and how to get them, see Sections 7.1.2, The Moxie Challenge, and 9.2.1, Moxie Points.

  #### 1.3.3 | Team Flag and other Ceremonials

  If you are a hackerspace, please bring along a flag that you can raise and wave to the crowds. You don't have to do this, but it has proven to help teams earn more points from spectators. Identity is key for your Moxie championship hopes (refer to Section 9.2.1 for more information). If you are clever and/or crazy enough to be a winning team, you will be able to stand on the podium and wave it to the confused crowd. We should also have carbonated pink lemonade instead of champagne this year, so you can spray your more favorite (or least favorite) competitor in the face.

  ### 1.4 | Team Budget

  The total allowable budget for any individual vehicle is $500 USD. This includes any and all equipment, devices, performance gear, and propulsion materials on your vehicle as it stands on the starting grid. This does not include all the support equipment (spare batteries, team transport, tools, etc). In short, everything that goes into your car must not have costed you more than $500, EXCLUDING the total cost of your batteries, team operations, and most importantly ALL safety equipment. See Section 4, Excluded Team Budget Items, for further clarification of what does NOT count towards the $500 limit.



  ## 2 | Vehicles
  ### 2.1 | Permitted Types of Vehicles

  No matter where a team purchases its vehicle (Toys ‘R’ Us, craigslist, France, or you stole it) it must comply with PPPRS standards of purchase. While teams are permitted to display a significant amount of creativity, the vehicles need to conform to the limitations in this section. PPPRS Sanctioning Body judges will perform thorough inspections in regards to battery tech, powertrain, and safety before the start of race weekends. The judges have the final say concerning the legality of your car, regardless of how legal you think it is, so be nice.

  ### 2.2 | So What Constitutes a "Power Racer?"

  The following brands are permitted and recommended for a legal PPPRS vehicle: Power Wheels, Peg Perego, and Little Tikes. This includes any current or former Fisher-Price brand Power Wheels, as well as Little Tikes Ride On toys. Any vehicle that is not of these brands will be subject to review, but will most likely be completely fine because we’ve practically permitted piles of garbage for use on the track. During the course of the season, the majority (70%) of the vehicle’s original exterior must remain "functionally intact.”  Note: Do NOT submit a pile of garbage for use on the track. It is sooooo last year.

  #### 2.2.1 | The Charles Guan Clause

  In the preceding section, we described the guidelines for situations that start with hacking apart a ride-on toy car. Sometimes, in rare instances, the types of children ride-on toys that are available don't fit the style of your preferred vehicle. Perhaps you want to go above and beyond rule bending (see the "I Ain't Even Mad" Clause, Section 7.2.3). Well, there's a loophole for you: if your car does not start as a Power Wheel, it must end up as a Power Wheel. So, if you wanted to build a Power Wheels-sized Back to the Future DeLorean from scratch, and you have the time and patience to perfectly craft one on the same scale as the vehicles we currently race, it may be permitted, provided it passes the judgement of the Sanctioning Body, under the "I Ain't Even Mad" Clause. Please note that your vehicle design will need to be determined legal by the judges and will be subject to scrunity based on quality of build and overall hilarity. In short, this is not a permit to build go-karts. See Section 9.2.1 for some ideas.

  ### 2.3 | Drivers

  All vehicles in any PPPRS event must be controlled and steered by one human driver seated in the vehicle. Again: no remotely controlled vehicles are allowed in PPPRS events. This is pretty much the first loop hole every single person tries to pass by me every single year. No. You are not the first person to think of this. Try harder. For the last time, you can’t “drive it from the pits” and put “my five year old son” in the car. I don’t care how little you value your offspring. Get more creative than that. Drivers must be at least 16 years of age and have a valid drivers license. If under the age of 18, the driver must have signed release from a parent or guardian who is totally aware of how unsafe all of this can be.

  ### 2.4 | Wheels

  All teams are permitted to use third party wheels and hubs for their PPPRS vehicle. Vehicles must be constructed with a minimum of three functional wheels that remain in constant contact with the ground under normal operation. Wheels are not permitted to be inline (so no motorcycles). PPPRS restricts the use of slick tires and any other performance racing tread. Performance go-kart wheels are absolutely prohibited from use on vehicles. If during pre-race inspection a PPPRS official determines the wheel modifications to be potentially harmful to drivers, the team will be asked to remove the modifications or risk disqualification (see Section 2.C, Vehicle Decoration Limitations). There are no limitations as to how the wheels can be modified to connect the chassis (internally or externally) as long as power to the ground is derived from these wheels and hubs. If you are paying attention, this also indirectly means no jet propulsion, so don’t even ask.

  ### 2.5 | Battery

  The PPPRS permits use of the following chemistries:

  * SLA (Marine labeled sealed lead acid, Absorbed Glass Mat )
  * LiFePO4 (Pre Approved Brands: A123, CALB, & Headway)
  * NiCd
  * NiMh

  LiPo is NOT permitted. All other lithium battery brands not listed here will require approval by the Sanctioning Body. Batteries are worth half their fair market value towards the total of your $500 budget. This represents the batteries that are present in the machine on the race grid. While the spare batteries in the pits are exempt from the overall $500 limit, they will still count in your budget when in use on the track. No single battery pack shall result in pushing the car’s budget above $500.

  Though not required, PPPRS heartily encourages teams to bring anywhere from 2 to 5 charged batteries with chargers to each race weekend. There is no limit to the number of batteries PPPRS allows, as long as it fits within the team’s budget. PPPRS strongly urges teams to consider their vehicle’s performance and run time when deciding how many batteries they will need for at least three 20-minute races and one 75-minute race per weekend. Keep in mind that with limited windows of downtime between races, you will not have enough time to fully recharge a battery. Also note that battery changes are permitted during the 75-minute endurance race, which is always the last race of the weekend. We encourage you to practice swift yet safe battery changes in order to prepare for race day conditions.

  Due to the inherent risk posed by the use of batteries, particularly in the event of a flip over, teams who choose to participate in PPPRS races are accepting the full responsibility of ensuring the safe application of their batteries. Batteries must be secured on the vehicle in such a way that a flip over will not remove the batteries from the chassis. Teams should test this before race weekend. If a team fails to properly secure batteries to their vehicle, they will not be permitted on the track and will face a possible fine, the amount of which will be determined at random by the judges. In short, don't screw this up.

  Wires must be gauged properly in regards to power output, and the responsibility of electrical circuitry will be on the teams. Teams that fail to uphold safe standards will be penalized or prohibited from competing. Teams that use Lithium packs will be required to provide PPPRS personnel with a means of extinguishing the packs in the unlikely but still possible event that they catch fire. Sand would be nice, just in case. PPPRS officials will not supply spare batteries or chargers to the teams.

  Finally, there are no capictor banks for providing additional vehicle power permitted. That's just too unsafe. Even for us.

  ### 2.6 | Brakes

  Contrary to popular assumption, mechanical brakes are required equipment for a PPPRS race. Motor braking cannot be the only method of braking. Mechanical brakes must be capable of stopping the vehicle in full and comply with our qualifying round. See Section 7.1.1, Qualifying Lap & Brake Test, for specifications. Ground contact brakes (i.e. a stick with rubber stapled to it that rubs against the ground) are banned. Ground contact brakes (i.e. a stick with rubber stapled to it that rubs against the ground) are banned. One last time, read it out loud now: Ground contact brakes (i.e. a stick with rubber stapled to it that rubs against the ground) are banned. Also, ground contact brakes are banned.

  ### 2.7 | Motors

  All motors must be electrically powered. All power supplies must range from 12-36 volts RMS maximum input to the motors. Before each race, track officials will test the voltage to the motor of each vehicle.
  #### 2.7.1 Fuses
  No vehicle may have a total peak power consumption of greater than 1440 watts. Current-limiting fuses will be issued to the teams on race day by the Sanctioning Body. We will be using the LittelFuse MIDI 498 series of fuses. The fuse holder they use is Digi-Key P/N F3094-ND. We recommend you go and buy these specific fuses before the start of the season and WAY before you arrive on the race track and install them in an easy-to-access place for servicing on your vehicle. Test them thoroughly and be sure that they can be accessed and replaced quickly. Remember: it is on you to maintain and replace these fuses. We will provide fuses to you before the start of each race, so you best to get aquainted with the ones we use before we chuck them at you and wander off to do something more important.  NOTE: If you blow a fuse during a race, you have to go to the timing and scoring booth and beg us for another. On race day we are the only source of permitted fuses, so don't expect to get away with tampering. TEST your vehicles BEFORE race day. If you are running a whacky voltage different from those listed, please contact the Sactioning Body way ahead of time for approval. The following are the fuses we will be using for the 2014 season and beyond:

  * 36v = 40A Fuse (Digikey #F3089-ND)
  * 28.8v = 50A Fuse (Digikey #F3090-ND)
  * 24v = 60A Fuse (Digikey #F3091-ND)
  * 12v = 125A Fuse (Digikey #F1879-ND)

  If, for whatever reason, your machine operates on some funky voltage, your fuse will round down to the nearest number. Vehicles are required to have a fuse installed between their power source and their controller.

  #### 2.7.2 Kill Switch
  A Kill Switch system (a method to immediately cut power) must be incorporated in the vehicles. The kill switch MUST be easy to see and easily identifiable by track marshalls. We strongly suggest that teams have a huge, painfully obvious, big red button with massively bold letters clearly labeling the button as a Kill Switch. No power may flow through ANY electrical system on the vehicle when the Kill Switch is activated. NOTE: the Kill Switch must not be your "on" switch, nor can it be your throttle. Yes, you have to make a separate switch. No, it's not too much to ask of you. Teams are permitted to seek any system necessary to achieve this, and it is up to the teams to implement it. A kill switch will not be part of the $500 budget and it would be really nice if teams that regulary exceed 10mph in a race spared no expense in developing and implementing one. PPPRS officials will request teams to prove that the system functions during the pre-race inspection.

  ### 2.8 | Controllers

  All motor controller solutions must be directly connected to a dead man switch or equivalent safety device that will physically cut power to the motor. Motor controllers are required methods for power transfer to the motor. Spark plates are banned from the series. Starting in the 2014 season, the physical, mechanical throttle will be exempt from the $500 limit.

  ### 2.9 | Vehicle Size

  TThe vehicle may not exceed 62” long by 36” wide. Seat height may not be lower than the axle height. Overall height is restricted to 72” including the height of the driver while in the seated position. (These dimensions represent roughly the size of the Doge Ram, the largest Power Wheels vehicle on the market as of 2014) No part of the vehicle may protrude beyond the dimensions detailed in this rule. All vehicles will be measured by track officials before each race. Any vehicle that does not comply with this rule will be required to conform to the aforementioned dimensions before it is allowed to race or risk disqualification.

  ### 2.A | Bumpers
  Entrants to the Power Racing Series are… insanely different, to say the least. It seems that no matter how many restrictions I impose on you and how thorough I am, you meddling teams find ways to be precious little snowflakes. There is, however, one thing that absolutely must be uniform across all teams: bumper height. All teams are required to have front and rear bumper-like structures that are between 4 and 6 inches from the ground. The bumpers should be firmly attached (or welded) to your frame. Teams should soften up the edges of the bumpers in some way, perhaps using strips of rubber. I don't know. Do what you want. Just makes sure they are there. The track marshalls are getting tired of having to pry cars off of each other during collisions.

  ### 2.B | Team Secrets

  To avoid the issue of race-day disqualifications, please contact the Sanctioning Body in advance, as in before race day, to inquire if your modifications are legal. Modifications that are “team secrets” will be kept in confidence and will not be shared with other teams.

  ### 2.C | Vehicle Decoration And Engineering Modifications

  Teams are encouraged to be imaginative when decorating and modifying their vehicles. However, each team should take into careful consideration the potential of injuries or damage caused by external decorative items. Although this severely hampers the creation of any “Mad Max” cars, we do not permit spears or any other form of weaponry on the car that could cause actual harm. Specifically prohibited are any decorative items that are sharp, pointed, obscuring, fragile, or that would otherwise cause injury or damage to the driver or other drivers and their respective vehicles during routine vehicle-to-vehicle contact or crashes. This rule also applies to structural, drivetrain or steering modifications to vehicles. PPPRS officials reserve the right to prohibit a vehicle from entering any race if the vehicle is deemed to be a hazard to its driver, other drivers and their vehicles, or spectators. By submitting an entry into the PPPRS, you forgo your right to get butthurt over this. If your car is unsafe, it is your team’s responsibility to bring it to spec. And once again, no BB guns are permitted. You’ll shoot your eye out.

  ### 2.D | Transponder

  PPPRS issues transponders to teams for timing and scoring, so you will need to build your machines to accommodate a clear, vertical line of sight at or near the very front of your vehicle. Transponders must be faced upwards. Your drivers should be aware that this line-of-sight must be preserved when traveling under our timing bridge at the start/finish line, or your lap will not be recorded. Barring that, the transponders are nice, simple and dependable. They will also cost you $20 to rent per race weekend. After 5 race weekends, the transponder is yours to keep FOREVER. Just be prepared to attach it to your vehicle.

  ## 3 | Safety Eqiupment
  You are not allowed to race on the track without certain safety equipment. Seriously, we aren’t screwing around with this. These vehicles may be tiny, but they can be very fast. When you get to the track, you are required to prove the use and quality of the following safety equipment to the Sanctioning Body:

  ### 3.1 | Helmets
  A DOT approved motorcycle/racing helmet is required for all drivers. Your drivers can share helmets, but every driver on the track MUST have this helmet. It is highly recommended to use a full face helmet, but open face helmets are permitted. NOTE: if you drive with open face, DOT goggles are mandatory. If the goggles do nothing, you can’t race. NO half helmets. No bicycle helmets. No damage on helmets. If you have a serious spill in your helmet, you are required to replace it.

  ### 3.2 | Driver Attire
  Long pants and long shirts, or knee pads and elbow pads, are required. I don’t care how hot it is, we supply plenty of water to the teams. Even at 20mph road rash can be pretty nasty. Knee pads or elbow pads in conjunction with long pants and sleeves are also deeply, seriously, really really really really really recommended with BIG DAMN BOLD letters but it honestly depends on your sitting stance and your leg exposure. Mechanix gloves or better are required for everyone that is on track, including track marshalls (we will provide the gloves to track marshalls). Except Jim Burke. He gets to do what he wants.

  ### 3.3 | Brake Test
  Qualifying this year will include a mandatory brake test. You can read about this further in Section 7.1.1, Qualifying Lap & Brake Test, but we'll give you the Reader’s Digest version now. Qualifying will be a total of 2 laps: 1 flying lap, 1 full speed lap that comes to a full stop once you cross the finish line. The car must stop within 15 feet of the start/finish line. If you exceed the 15 ft line, your qualifying lap will not count. If your brakes fail, you will not be permitted on the track until you can satisfactorily complete the brake test. At any point of time during the race weekend, the judges reserve the right to re-administer a brake test to any team, regardless of whether or not the team has previously passed the brake test.

  ### 3.4 | On-Track Safety
  Yellow flags are important. As a driver, you should be familiar with the significance of the color yellow, specifically that it means you must slow down. A large truck horn will sound off along with a yellow flag to signify a caution. When a caution comes out, all cars are to remain in the same position in relation to one another. No passing is allowed, unless notified to do so by a track marshall. Do not accelerate or drive near track marshalls. Keep your eyes peeled for track marshalls attempting to clear the track of obstructions. When the horn sounds TWICE regular lap speeds will continue. This will be signified by a green flag. I could not possibly make this any easier to understand, yet somehow somebody every year manages to screw this up. Most of you own cars, right? Even if you don't, you could always find a basic traffic tutorial on every other episode of Sesame Street.

  ### 3.5 | Vehicle Egress
  In the event of an accident, you must be able to leave your vehicle completely in 5 seconds or less. This is to prevent any issues that may arise from potential fires or overheating components. DO NOT build a car that is difficult to get out of. You can make the entrance of your vehicle as difficult as you want, but you need to be able to exit quickly and on your own, as all of us are getting too old for this crap.


  ## 4 | Excluded Team Budget Items

  After years of complaints, we have constructed a list of items that are not included in the $500 budget. This is also known as the “region of extravagant cheating” and usually features some of our more creative methods of bookkeeping.

  The $500 limit does NOT include the cost for safety equipment or safety features such as helmets, brakes, kill switches, or harnesses. Support equipment such as spare/secondary battery packs, replacement parts or pit tools are also excluded from costs. Additionally, mechanical throttles, or the physical components to a throttle, are exempt from the budget. Final cost of the machine does NOT account for the initial cost of the Power Wheel purchased used or new plus shipping costs or tax. Any spare parts or extra batteries kept in pit lane do NOT count to your $500 budget. Batteries will be measured at half of their original fair market value in regards to the overall budget. Be prepared to argue and support your battery selection with proof of said fair market value; “that guy down the street” who “totally sells these online everywhere for that cost” will not cut it. Prove it.

  ## 5 | Enforcement of Cost Rules & Penalties

  In the event that PPPRS officials or a majority of teams believe a team has greatly exceed the $500 limit, they will be deemed suspect and are at risk of a PPPRS buyout. PPPRS officials comprising of our team-submitted volunteers and event organizers will determine if teams have exceeded the budget and hold all rights to purchase a team’s vehicle for $500. By entering into an event, a team consents that their vehicle could potentially be bought out at the end of the event for $500. So don’t throw a fit if this actually happens. A team may redeem their car and re-enter in the next event if they agree to remove the suspected over-budget component(s).

  If the panel of officials determine the car to infringe on certain rules or bend said rules to a position that is beyond “the spirit of the series,” then a completely arbitrary, painful, and time consuming penalty will be administered. This penalty will most likely be made up on the spot, and would require considerable bribery (i.e. donations to the series) to lift.  Still reading these? Good. There’s more of that sort of tomfoolery further down the list. Section 7.2.2, The Spirit of the Series Clause, is a summary of the goals of PPPRS and represents the key tenets that champion fairness in the series and the overall idea that no one should take this too seriously. Please see Section 7.2.2 for further drilling of this concept into your damn clever-yet-stubborn-as-hell brains.

  ## 6 | Vehicle/Team Sponsorship

  Team sponsorships are allowed, and the terms of individual sponsorships are at each team’s discretion. However, an entity does not become affiliated with Pumping Station: One, i3 Detroit, CCCKC, Maker Faire, or Make Magazine by virtue of sponsoring a team in the PPPRS. Teams may not represent to sponsors or potential sponsors that sponsoring a team in the PPPRS will associate the sponsoring entity with any of these organizations, including Pumping Station: One, NFP, and Power Racing Series, LLC. Sponsors are totally free to give us money and we encourage this openly.


  ## 7 | Race Rules & Event Information
  ### 7.1 | The Races:

  #### 7.1.1 | Qualifying Lap & Brake Test

  The qualifying race will consist of two laps: one warm up lap and one flying timed lap that concludes with a brake test. You will set out from the pit lane and the clock starts when you cross the Start/Finish line. Make it quick, because you usually have only one shot at this. After you cross the finish line on your flying lap, you must come to a complete stop. You must stop within 15 feet of the start finish line. If you stop beyond this distance, your awesome lap time will be erased. You can attempt the qualifying lap again but if you are unable to stop within 15 feet, you will be disqualified from competition until you can pass qualifying. So make sure your car has good brakes, because this year it doesn't matter how fast your car goes -- if you can’t brake, you can’t participate.

  #### 7.1.2 | The Moxie Challenge
  Each team is required to perform a 2 minute (or less) sketch using their team members and vehicles to entertain the crowd. You will be voted on by a group of 3 small children randomly selected from the audience. They will rate you on an Olympic scale of 0-10. These points will be tallied up and added directly to your score, in the same way the race points are awarded by finishing position. Yes, this is decided by children. Yes, you can bribe them. Candy seems to work really well, but only in small doses. Please don't throw candy. Really. Teams in the past have developed very elaborate sketches, including dressing up, fighting fire breathing dragons, and simple but effective skits like an awesome tug of war between the team members and their power wheel. It is up to you to figure this out. If you want to have a song played during your sketch, it must be tested and submitted ahead of time (as in the morning of), otherwise the Sanctioning Body won't be bothered to play it.

  #### 7.1.3 | The Road Course "Heats"

  The Road Course event consists of 3 races of 15 to 35 laps, depending on track length and the mood of Jim and Patrick at 5am on a Saturday. The first two races/heats are not for points but a qualifying round. The two heats will split the field of vehicles as evenly as possible. The top winners in each heat will then race in the “Go Fast” final. These vehicles will be racing for the top race points. The bottom half of the heats will race in the “Go Big” final. They will be racing for what's left of the race points and as much Moxie as they can muster. Seriously, GO BIG. This is a great chance to make up any lost points from your slowmobile. You only have 15 to 35 laps, make it count. Moxie will still be accrued throughout all 4 races and tallied after the finals have completed. This will ensure that race points and possible moxie points are distributed evenly.

  #### 7.1.4 | The 75-Minute Enduro

  The endurance race will be 75 minutes of racing glory. This is a true test of driver skill and vehicle build. The start of the race will be a LeMans style start with the vehicles lined up in the order of their current standing for that weekend. The racers will line up away from their vehicles at a predetermined location. At the start of the race the drivers will run to their vehicles and take off. Every 15 minutes a siren or horn will sound off and all cars are required to race back to the pits and switch drivers with somebody on their team. You HAVE TO PIT even if you had just pitted 2 laps before. So try to time your pits accordingly. You may not reverse course if you pass the pit lane and you cannot drive the wrong way up pit lane. If you pass the pit entrance, finish your lap and enter pit lane when you come around again. It does not matter where you find your other drivers so long as they are of legal driving age and are not the same driver from the previous stint. If you are low on people and have multiple cars, the drivers of each car can trade places, just as long as nobody drives the same car two times in a row. Creative and fast pit times are rewarded with overtakes in the pit lane. Anything goes provided you do not actively prevent other teams from switching their drivers.

  ### 7.2 | Rule Infractions and Penalties

  This is a very new and very awesome section of the rules this year. Though we at the PPPRS openly encourage a few bits of rough racing, we want you to be safe too. Legally, we are supposed to care about your well being, so don’t mess that up for us. This is a nice thing we have going here, and we don’t want your broken bones to be the reason we can’t set ourselves on fire. With that in mind, we want to make sure you don’t completely alienate yourself from everyone else by being a self-righteous ram-a-saurus-wrecks that just makes everyone’s day worse. So when you drive a bit hot and bothered, we will drop the ban hammer on you. What follows is the list of awesome things we’ll do to penalize you that will annoy you to no end and make us laugh for hours and hours at your expense.

  #### 7.2.1 | The Grim Reaper
  Ah, yes. This is what will keep you in line this year. One person, designated by the Sanctioning Body, will don black robes and carry a large black flag any time cars are on the track. Throughout each and every race over the course of the season, the Grim Reaper has supreme, unquestionable reign over the track. The Grim Reaper's job is to pick out violators. If the Grim Reaper sees you commit a misdeed, your car will be impounded in the penalty box and the Grim Reaper will spin the Wheel-Of-Shame to determine your punishment. The Grim Reaper’s word is law. There is no arguing with the Grim Reaper. There's no reasoning with the Grim Reaper. The Grim Reaper was born of these rules and you shall worship the Grim Reaper. You pray that the Grim Reaper enforces the current rules and does not alter them further. Some say the Grim Reaper will regulate driver conduct. Others say the Grim Reaper will make sure you are following the tech rules and abiding to our safety standards. ALL SAY THE GRIM REAPER CONTROLS YOUR LIFE AND YOUR PENALTIES. THE GRIM REAPER DOES NOT CARE HOW HARD YOU WORKED. THE GRIM REAPER ONLY KNOWS WHEN IT IS YOUR TIME TO FEEL JUSTICE. OBEY THE GRIM REAPER. DON’T FEAR THE REAPER. WAIT, TOTALLY FEAR THE REAPER. [INSERT MORE COWBELL HERE]

  #### 7.2.2 | The "Spirit of Power Racing" Clause
  Remember Mystery Science Theater 3000? No? Wait, really? How the hell do you consider yourself a nerd? Anyway, it was a landmark show way back in the ancient 1990s whose premise was a guy and his robot friends were locked away in a space station and forced to watch crappy movies. Got all that? Okay. Let me get to the point: the premise makes no sense, and any attempts to poke holes in the plot or take the show seriously were overlooking that the fact that the whole point of the show was to make fun of bad movies. For these reasons, the show's title song featured the phrase “Think to yourself, ‘it’s just a show, I should really just relax.’”  That’s really the whole point of this series. We're just a show. We’re here to have fun. Rules will get bent, cars will break, so just relax and enjoy yourself. If you're reading line by line and looking for a 1/10th of a second lap time improvement, you're going to have a bad time. Aside from safety, not much else really matters. You don't race to win -- you race ‘til you break. Don’t get too wrapped up in or obsessed with podiums or lap time records. Share tools. Be friends with rival teams. Have rivalries just because it's hilarious. Make friends. And most importantly, be excellent to one another.

  #### 7.2.3 | The "I Ain't Even Mad" Clause

  Feel like breaking a rule? We at the PPPRS take rule breaking very seriously, and we don't like people who half-ass things. If you are going to break one of our rules, we encourage you to go full ass, above and beyond the call of duty. We don’t want cheap and sneaky exploits. We want clever hacks that will make great stories. Want to make a 6-wheel power wheel? Awesome. DRS inspired Must-Go-Faster button? Sweet, can’t wait to see it. So if you feel like taking things too seriously, we want you to build something so blissfully impressive, so Adrian Neweyesque clever, or downright SpeedyCop crazy that your rule infraction gets an “I’m not even mad, actually I’m impressed” reaction from our judges.


  ## 8 | The Race Schedule

  The 2014 Power Racing Series is upon us and here's the first official look at our upcoming race schedule.

  **WEST DIVISION**

  *   Maker Faire San Mateo, CA Saturday & Sunday May 17th & 18th, 2014

      First race of the regular calendar year. Winner of the race weekend is invited to compete in NYC (pending they can find a way to get there-- sorry, we just don't have enough funds to do this ourselves yet) This race features a slightly different format than any other PPPRS. We work alongside our pedal car friends from Fun Bike Unicorn Club. Race weekend is typical 2 heats + Endurance including a Pedal vs. Power round where our PPPRS entries race against the FBUC teams. Track is usually an oval, or a tight rectangle with a heavy braking chicane.

  **CENTRAL DIVISION**

  *   Maker Faire Kansas City, KC Saturday & Sunday June 28th & 29th, 2014

      First round of the central division series  Expect the track to be tight, slow corners followed by mid-length straits. The cars with the best handling will show great promise here.

  *   Maker Faire Detroit, Dearborn, MI Saturday & Sunday Date July 26th & 27th, 2014

      Our Landmark race returns yet again! The Detroit circuit is a bumpy high speed affair that will challenge driver skill more than anything else. The track usually features long sweeping corners that necessitate finesse and driver rhythm.

  *    Maker Faire Fort Wayne, IN, Saturday September 13th, 2014

  **EAST DIVISION**

  *  Charlotte, NC Saturday, June 7th, 2014

  *  NYC World Maker Faire, Queens, NY, Saturday & Sunday September 20th & 21st, 2014

     Final race of the year and championship race. This one is for all the marbles. The winners of each division will be invited to attend this race against the east coast teams.

  ## 9 | Points: How do they work?

  Unlike most real and legitimate racing series, the PPPRS awards points in two arenas. The first is your standard run-of-the mill race points. Yawn. The other is from Moxie points, which is both interesting and frustrating.

  This year, the points system will reward the BEST 2 culmulative weekend points. That means we take the sum of your points from your best 2 race weekends and tally them towards the championship. If you go to more than 2 events, you'll be able to throw away your worst weekend(s). So, if you say blow an engine in one race weekend, you won't be out of the championship, provided you attend two others. It also allows for some of the smaller teams to compete for the championship without having to go to more than two events. If a team is in title contention, they must attend the Indiana race to receive any potential prizes, since Fort Wayne is the last race before the championship weekend in New York. It would be awkward for us to have a title winner not be present for their trophy presentation, and we would like to avoid awkwardness. We don’t handle it well.

  Maker Faire World New York is the Grand Finale of the entire series. The top 2 teams from each division get an "invite" to this race. East coast teams have an added advantage of being automatically invited, regardless of regular season performance. Teams that race in NYC have all of their points zeroed out at the start of the weekend and the overall winner of the weekend takes the Tesla Cup.

  ### 9.1 | Race Points

  Due to our lack of outright originality and our founder’s unquenchable obsession with Formula 1, the points are awarded by almost the exact same ratio, with 100 points for first instead of 25. For those of you who have no idea what that last sentence means, just nod your head and move along.


  **Finishing place in a race** | *Points*

  **1st** | *100*

  **2nd** | *72*

  **3rd** | *60*

  **4th** | *48*

  **5th** | *40*

  **6th** | *32*

  **7th** | *24*

  **8th** | *16*

  **9th** | *8*

  **10th** | *4*

  **11th** | *2*

  **12th** | *1*

  All cars that place below 12th receive zero race points.

  ### 9.2 | Season Points Rules.
  #### 9.2.1 | Moxie Points

  Moxie is that little extra spice that levels the playing field. Not only can you win race points, but you can also entice and rile up the crowd to win points from them. It will be your team’s job to find ways to garner audience attention and keep it over your competitors. This is the ultimate pursuit of the weird. Giant boom-box cars, Lucha masked racers, pre-race dance party and confetti cannons are all par for the course. Consider this the social engineering section of your exam. Some teams will write this off, but we at PPPRS think you should take heed: this is where real champions are crowned. Underdevelop your car against your rival hackerspace? Easy! Gain those points back by dressing up as a chicken. Your odds to win are good if your goods are odd. Consider it Halloween in July, and you have to get more candy bars than that kid next door.

  ##### 9.2.1.1 | How Moxie is Counted

  An Arduino-controlled button board, the Moxie Board, tallies the votes of members of the public during races. The crowd is instructed to reward your spastic and odd behavior by pressing the button by your team’s label. Next to each button is a 6x1.75 inch piece of space that is reserved for your team name and number. You are in charge of making a plaque that occupies this space and identifies who you are to the crowd. You can make it as fancy as you’d like, it can be lit up (you’ll have to power it on your own), reflective, whatever, as long as it has the name of your team and your vehicle number. I won’t begin to lecture you on how many people royally screw this bit up. Do not do a last minute job on this one because it is the first thing the crowd sees when they are about to vote for you. There’s nothing like setting your car on fire to the applause of an audience only to realize that you used duct tape and silver sharpie to identify yourself on the board and now no one knows who you are.  This board responds to one button press with a one second delay. This is so you don’t plant yourself or your teammates out there by the board and just sit on the button all day. It should be noted that this is considered a really lazy and not-creative way to cheat, and thus lame. Don’t be a lame team.

  Moxie points will always total 400 per race. These 400 points are divided among the teams according to the percentage of button presses received from the crowd. Moxie points are added to race points to determine teams’ overall winningness. This season we are not messing around, which means you get to mess around on the track. Moxie will be very crucial to your potential victory and glorious bragging rights.

  ##### 9.2.1.2 | How to Maximize Moxie Points
  Are you a new team? How about an old team looking for some more points? Come here. Closer. Let me tell ya something. It'll be our little secret. You can get up to 300 bonus points if you make one of the cars below. Yeah. Seriously. I'm not messing around. Just try it. NOTE: these points will be awarded on a sliding scale of effort, as per the discretion of the judges. The more time you spend on making these look good, the more points you get. If you duct tape a bunch of cardboard boxes and scream “THAT’LL DO,” we will reward you fewer points. Without further ado, here are the cars that could earn you up to 300 bonus points:

  * Ghostbuster’s Ecto 1 (must have that annoying horn)
  * Jim’s dad’s old car: 1977 Cadillac Eldorado (should be large enough for its own zip code)
  * Star Wars INCOM X-Wing Starfighter: Luke and R2D2 also needed
  * The Scooby Doo Mystery Machine (costumes required)
  * Any era Batmobile. Double points for Adam West era Batmobile
  * The “Bluth Family car” (stair truck. Google it)
  * KIT (Knight Rider). (Must be trans am body, must have Mr. Feeny’s voice)
  * The A-Team Van (costumes are required, but don’t get racist about it please)
  * Speed Racer’s Mach 5. Cartoon or film are allowed.
  * Bruce Willis floating Taxi Cab from The Fifth Element. (The more realistic that floating bit is, the better.)
  * The bus from SPEED. Bus has to have a passenger. And a watch.
  * Tiny replica Formula 1 car. Specifically the 1976 Tyrrel P34 Six Wheeler.
  * Car built entirely out of LEGOs

  ## A | Trophies and Awards

  ### A.1 | The Big Three Seasonal Awards

  The Power Racing Series chucks out 3 big trophies a year. These are designed to be handed down from winner to winner each year. So, if you are from a family with more than one kid, you’ll be able to understand when the trophy is just the right length for your legs but way too tight in the waist. Think of these as the Stanley Cup: you get to “hold” it for a year and rub it in the face of everyone else until next year. Note: if you keep the damn thing and then never return it you sort of suck. That’s mean. Why would you do that? Didn’t you learn about sharing from Sesame Street?

  Also note that if you win the trophy, it is your duty to modify it somehow for next year. Add to it but don’t subtract, and try not to set it on fire. Unless it is the Crash-And-Burn trophy, in which case it would be painfully appropriate. Keep in mind that you can only win one of these "big 3" trophies. So if you somehow win the Tesla Cup and the Moxie Cup, you've got to hand one over to one of the teams just below you. So aim for one of them, because you can't get all of them.

  #### A.1.1 | The Tesla Cup (all Points)

  The Tesla Cup is the big fancy trophy that everyone wants. This is the result of carefully balancing your race points and your moxie points. You have successfully managed to build a car that is fast AND you’ve gone out of your way to make a complete fool of yourself in front of all the crowds. This trophy is the most sought after prize in The Power Racing Series. If you win it, you will have proven your bravado and massive appeal to our fans and judges. That, or you just got really lucky. Good for you.

  #### A.1.2 | The Moxie Cup (all Moxie)

  If the Moxie Cup is your aim, you are here to have fun only. You really don’t give a rat’s backside about going fast, and you probably made your car to ride slower than a stock power wheel and handle worse than an offset cement mixer. Your car might look like a mythical creature or you’ve dressed up like a cross between Ziggy Stardust and Lady Gaga. You have focused all your attention on gathering crowd attention and have annoyed all the poor folks out there trying to make a race out of this event by being a rolling blockade.

  #### A.1.3 | The Champman (all Race)

  If this is the only award you care about, we actually don’t know why you are here. You are seriously racing power wheels just to win? I guess you can do that, I mean it is fine if you want to. You are mad though. You are just a mad, silly person. This trophy is here for those who hard-charged to the front and managed to enter races and win as seriously as possible. Its not that we want to vilify winning above all, it just really confuses us. They’re power wheels, ok?

  ### A.2 | The Event Medals

  Every race has its winners and losers. Since this is a “racing series” we are required by the racing gods to reward the folks who manage to be ahead of the losers, be it by chance or sheer will, or something. At the end of each race, the top three drivers get to stand on a podium of sorts and say a few words of encouragement for the other teams who just clearly didn’t try hard enough. The judges will announce the top three finishers immediately after each race. If you finished in the top three, do NOT go back to the pits. Pull up to the timing booth and receive your award.

  #### A.2.1 | The Golden Yes

  You are Mr/Ms Race Winner. You get a big ol’ Yes from us! You also get a hi-five.

  #### A.2.2 | The Silver Ok

  You are the first loser, but that’s ok. You’re better than most so you get a low-five.

  #### A.2.3 | The Bronze No

  What, you get an award too? Geez, I guess so, but you get a big “no” from us. Also your low-five is down real low, and thus we will pull our hand away in a metaphorical nod to your performance: too slow.

  ### A.3 | The "Per Event" Awards

  These are a few random awards we’ve put together over the years to encourage some of the utterly confusing behavior this series has brought into reality. As the title suggests, these are awarded each race weekend.

  #### A.3.1 | Crash and Burn Award

  Congratulations! You have chosen to build an off-road vehicle. The only problem is that the PPPRS is an on-road racing series, which means you’ve spent more laps on the tire wall than actually on the track. You also might be Australian and have spent most of your time upside down. Luckily, there’s an award for that.

  #### A.3.2 | The Epic Fix Award

  You did what to get this running again? Holy crap. We usually would make fun of somebody trying this hard, but we can't believe how many times you had to fix this heap. You did it though, and the car is limping around the track, barely moving but dammit, you're going to finish. You scrounged parts from random strangers. You broke your transmission three times and still managed to get back on the track. Literally nothing stopped your team. You didn't win, you didn't even look good while losing, but you managed to pull through in the end. Here's to you, crazy person.

  #### A.3.3 | "That Is So Amazing I Must Give You An" Award

  This is our Concours d’Elegance. This is a prized treasure. You've built something so incredible we have to pause and collect our breaths. You’ve built a car that actually looks brilliant. It looks or drives so nicely that we actually felt bad when some team plowed it into the wall on the way to winning another Crash & Burn. If you intend to win this award be sure to take a lot of pictures before race day, because she ain’t going to be pretty after we’re done.
