.container
  .img-header
    = image_tag("rules_header-op.jpg")
  %h1 Rules
  %hr
  %h2 Teams
  %h4 Team Structure
  %p Hackerspace teams may contain a minimum of three members. There is no upper limit to how many members a team may have. For example, Sector 67 will yearly submit a team roughly the population of the state of California. No person may be on more than one team. Each team may enter as many cars as they wish to use during a season though it is suggested that they submit no more than two. Each team is required to modify and repair them as necessary. Hackerspaces are not limited to a specific number of teams. Each event will be limited to a maximum of 24 entries. If for some reason more than 24 teams show up, we will host a legitimate qualifying round, where the least creative and/or slowest teams will be subject to the embarrassment of failing to qualify an event headlining children’s toys.

  %h4 The Team Volunteer
  %p Teams are required to submit at least one team member as a volunteer of the Power Racing Series, who will work on your car the least and spend most of their time helping out with flag marshals, track set up and race-day operations. Do not select your driver as volunteer, unless you don’t feel like racing. We suggest you pick somebody from the team who is enthusiastic but tends to not have crucial technical skills (re: only person who knows how to fix the car) for your team. For amusement we condone the selection of the team member you dislike the most.
  %p Team volunteers are essential to keeping the series running and ensuring the safety and timeliness of the event. The more volunteers we have the more smoothly the event will run. On race day the volunteers will be given instruction to which jobs they have to commit to and when they can switch off with other volunteers to go work on their cars. Do not skimp out on sending us volunteers because the minute you complain about something “not going on time” or “you should do it like x or y” my answer will be “where’s your volunteer?” Not sending a volunteer waives all your rights to complain. Yeah. I just said that. That’s a rule now.
  %p Oh and all of our volunteers will get a fancy PPPRS sanctioned crew tshirt. It will be fancy I swear.

  %h4 Team Labeling & Visibility
  %p <em>Car Numbers:</em> Due to our fancy and super serious scoring system it is ABSOLUTELY important to properly label your car number. Make your numbers clear and visible. We want our grandmothers to see your car number from the moon. Also, due to limitations of our stupid official scoring you must make your number to be no more than boring whole-numbered 5 digits. Sorry guys, the clever numbers might end up being on the chopping block in the name of timing and scoring.
  
  %p <em>Team Label for the Moxie Board:</em> Since this is a fancy hackerspace event we have a fancy home-brewed arduino controlled moxie points system. We have this giant button board assembled that will be floating around the crowds during the whole race. There are slots for each spot that is roughly 1.75 in x 6in in size for your name, next to a button that patrons can press. See Moxie section for clarification of what Moxie is.

  %p <strong>We are going to ask you (the teams) to make this label.</strong> It's up to you to make it readable and legible. It must contain your car #, Your Team Name and if you want your Hackerspace. Keep in mind the better presented your Label is, the better representation you get. Be creative but understandable.

  %p <em>Team Flag and other Ceremonials:</em> If you are a hackerspace, please bring along a flag that you can raise and wave to the crowds. If you are clever enough to be a winning team, you will be able to stand on the podium and wave it to the confused crowd. If we really have our stuff together this year we will display your flag on the very top showing everyone just how awesome you are. We should also have carbonated pink lemonade instead of champagne this year, so you can spray your more favorite or least favorite competitor in the face with the stuff. 

  %h4 Team Budget
  %p The total allowable budget for any individual vehicle is $500 USD. This includes any and all equipment/devices performance/propulsion vehicle as it stands on the starting grid. This does not include all the support equipment (spare batteries, team transport, tools etc) It also includes any required equipment to make the vehicle legal for PPPRS racing, sans safety equipment.

  %hr

  %h2 Vehicles
  %h4 Permitted Types of Vehicles
  %p No matter where a team purchases its vehicle (Toys R, Us, craigslist, France, or you stole it) it must conform to PPPRS standards of purchase.
  %h4 Standards of Purchase
  %p The following brands are permitted and recommended for PPPRS: Power Wheels, Peg Perego, and Little Tikes. This includes any other current or former, past or present Fisher-Price brand Power Wheels, as well as Little Tikes Ride On toys. During the course of the season the majority (70%) of the original Power Wheels exterior must remain functionally intact.  Any vehicle that is not of these brands will be subject for review but will most likely be completely fine because we’ve practically permitted piles of garbage for use on the track. Note: Do NOT submit a pile of garbage for use on the track. It is sooooo last year.

  %h4 Drivers
  %p All vehicles in any PPPRS event <strong>must</strong> be controlled and steered by one human driver seated in the vehicle. Repeat, no remotely controlled vehicles are allowed in PPPRS events. <strong>This is pretty much the first loop hole every single person tries to pass by me every single year.</strong> No. You are not the first person to think of this. Try harder. For the last time you can’t “drive it from the pits” and put  “my five year old son” in the car. I don’t care how little you value your offspring. Get more creative than that.

  %p Driver must be 16 years of age and have a valid drivers license. If under age of 18 driver must have written signed release from parent or guardian who is totally aware of how unsafe all of this can be. 

  %h4 Wheels
  %p All vehicles are permitted to use third party wheels and hubs for their PPPRS vehicle.  PPPRS restricts the use of slick tires and any other performance racing tread. Performance go-kart wheels will be prohibited from use on vehicles. During pre-race inspection if a PPPRS official determines that the wheel modifications to be potentially harmful to drivers, they will be asked to remove modifications or risk disqualification (see vehicle decoration limitations). There are no limitations to how the wheels can be modified to connect the chassis (internally or externally) as long as power to the ground is derived from these wheels and hubs. If you are paying attention this also indirectly means no jet propulsion.

  %h4 Battery
  %p The PPPRS permits use of SLA (sealed lead acid), LiFePO4 (lithium iron phosphate), and NiMh technologies. Absorbed Glass Mat batteries are preferable and batteries marketed as “Marine” are highly recommended. Batteries are worth half their fair market value towards the total of your $500 budget. This represents the batteries that are present in the machine on the race grid. While the spare batteries in the pits are exempt from the overall $500 budget they will still count towards the budget when in use on the track. No single battery pack shall result in pushing the car’s budget above $500. Though not required, PPPRS strongly suggests that teams should be prepared to brings anywhere from 2-5 charged batteries with chargers for competition. There is no limit to the number of batteries PPPRS allows as long as it fits within team budget. PPPRS strongly urges teams to consider vehicle performance and run time to decide how many batteries they need and for at least four events with approximately 20 minutes runtime of each. With limited time between events, there will not be enough time to fully recharge a battery.

  %p Due to the inherent risk of such batteries in the event of a flip over, any team using batteries accepts all responsibilities of ensuring their safe application. Batteries must be secured on the vehicle in such a way that a flip over will not remove the batteries from the chassis. Wires must be gauged properly in regard to power output and responsibility of electrical circuitry will be up to the teams. Teams that fail to uphold safe standards will be penalized or withheld from competition. Teams that use Lithium packs will be required to provide the ppprs with means of extinguishing the packs in the unlikely event that they catch fire. Sand would be nice, just in case. PPPRS officials will not supply spare batteries or chargers to the teams.

  %h4 Brakes
  %p Contrary to popular assumption <strong>mechanical brakes are required</strong> equipment. Motor braking must not be the only method of braking. Ground contact brakes, (aka a stick with rubber stapled to it that rubs against the ground) are banned. Ground contact brakes, (aka a stick with rubber stapled to it that rubs against the ground) are banned.Ground contact brakes, (aka a stick with rubber stapled to it that rubs against the ground) are banned. Mechanical brakes must be capable of stopping the vehicle in full and comply with our qualifying round. See qualifying for specifications.

  %h4 Motors
  %p All motors must be electrically powered.  All power supplies must range from 12-36 volts RMS maximum input to the motors. Before each race, track officials will test the voltage to the motor of each vehicle. A Kill Switch system or a method to immediately cut power must be incorporated in the vehicles. Teams are permitted to seek any system necessary to achieve this, and it is up to the team’s to implement it. A kill switch will not be part of the $500 budget and it would be really nice if teams that regulary exceed 10mph in a race spared no expense in implementing this. PPPRS officials will request teams to prove that the system works in pre-race inspection.

  %h4 Controllers
  %p All motor controller solutions must be directly connected to a dead man switch or equivalent safety device to cut power physically to the motor. Motor controllers are required methods for power transfer to the motor. Spark plates are banned from the series.

  %h4 Vehicle Size
  %p The vehicle may not exceed 70” long by 40” wide. Seat height may not be lower than the axle height.  Over all height is restricted to 72” including the height of the driver while in the seated position. (These dimensions represent roughly the size of the Jeep Hurricane, the largest Power Wheels vehicle on the market as of 2011)
  %p No part of the vehicle may protrude past the dimensions enumerated in this rule.  All vehicles will be measured by track officials before each race.
  %p <strong>Any vehicle disobeying the dimension will be required to conform to the dimensions before it is allowed to race.</strong>

  %h4 Team Secrets
  %p To avoid the issue of race-day disqualification please contact the Sanctioning Body in advance, before race day, to inquire if such modifications are legal.  Modifications that are “team secret” will be kept at discretion of PPPRS and will not be shared with other teams.

  %h4 Vehicle Decoration And Engineering Modifications
  %p Teams are encouraged to be imaginative when decorating and modifying their vehicles However each team should take into careful consideration the potential of injuries or damage caused by external decorative items. Though this severely hampers the creation of any “Mad Max” team cars we do not permit spears or any other form of weaponry on the car that could cause actual harm. Specifically prohibited are any decorative items that are sharp, pointed, obscuring, fragile, or that would otherwise cause injury or damage to the driver or other drivers and their respective vehicles during routine vehicle-to-vehicle contact or crashes. This rule also applies to structural, drivetrain or steering modifications to vehicles. PPPRS officials reserve the right to prohibit a vehicle from entering any race if the vehicle is deemed to be a hazard to its driver, other drivers and their vehicles or spectators. By submitting an entry into the PPPRS you forgo your right to get butthurt over this. If your car is unsafe, it is your team’s responsibility to bring it to spec. And one more time, no BB guns permitted. You’ll shoot your eye out.

  %h4 Transponder
  %p Teams will be using transponders for timing and scoring so keep in mind that you want to build your machines to accommodate a clear line directly vertical line of sight at or near the very front of your vehicle. Transponders must be faced upwards. Ensure to notify your drivers that this line-of-sight must be preserved when traveling under our timing bridge at the start/finish line or your lap will not be recorded. Baring that, the transponders are nice, simple and dependable. They will also cost you $20 to rent per race or $50 for the entire season (we accept credit card and paypal) Full tech details will be provided on race day. Just be prepared to attach this to your vehicle.

  %h4 Excluded Team Budget Items
  %p After years of complaining we have constructed a list of items that are not included in the $500 budget. This is also known as the “region of extravagant cheating” and usually features some of our more creative methods of bookkeeping.
  %p The $500 budget does <strong>NOT</strong> include the cost for safety equipment or safety features such as <strong>helmets, brakes, kill switches, or harnesses</strong>. Support equipment such as spare/secondary battery packs, replacement parts or pit tools are also excluded from costs. Final cost of the machine does <strong>NOT</strong> account for the initial cost of the PowerWheel purchased used or new minus shipping costs or tax. This also does <strong>NOT</strong> apply to any spare parts or extra batteries kept in pit lane. Batteries will be measured at half of their original fair market value in regards to the overall budget. Be prepared to argue and support your battery selection with proof of said fair market value, “that guy down the street” who “totally sells these online everywhere for that cost” will not cut it. Prove it.

  %h4 Enforcement of Cost Rules & Penalties
  %p In the event that PPPRS, or if a majority of teams believe a team has greatly exceed $500 they will be deemed suspect and are at risk of a PPPRS buyout. PPPRS officials comprising of our team-submitted volunteers, and event organizers will determine if teams have exceeded the budget and hold all rights to purchase a team’s suspected vehicle for $500.  Entry into an event a team consents that their vehicle could be bought out at the end of the event for $500. So don’t throw a fit if this actually happens. A team may redeem their car if they agree to remove the suspect expensive component(s) and re-enter in the next event.

  %p If the panel of officials determine the car to infringe on certain rules, or possibly bend said rules to a position that is beyond “the spirit of the series” then a completely abstract and time consuming penalty will be administered. This penalty will most likely be made on the spot, and would require considerable bribery (re: donations to the series) to lift. Still reading these? Go7od. There’s more of that sort of tomfoolerly further down the list.
  %p “Spirit of the Series” is a summary of the goals of the PPPRS and represents the key tenets that champion fairness in the series and the overall point that <strong>no one should take this too seriously</strong>. Please see “Spirit of the Series” for further drilling of this concept into your damn clever-yet-stubborn-as-hell brains.

  %h4 Vehicle/Team Sponsorship
  %p Team sponsorships are allowed, and at each team’s discretion. However, an entity does not become affiliated with Pumping Station: One, i3 Detroit, CCCKC, Maker Faire, or Make Magazine by virtue of sponsoring a team in the PPPRS.  Teams may not represent to sponsors or potential sponsors that sponsoring a team in the PPPRS will associate the sponsoring entity with any of these organizations, including Pumping Station: One, NFP. And Power Racing Series, LLC. Sponsors are totally free to give us money and we encourage this openly.


  %p The spirit of Power Wheel Racing Clause:

  %hr

  %h1 Race Rules & Event Information
  %h4 Changes for race rules additions:
  %p
    %ul
      %li NYC finale zeroes out all points. Winner take all race. Top three finishers in west division go to finals
      %li one major trophy per team
      %li qualifying lap to include stopping part at end of lap
      %li slower than 10mph cars will have exceptions to rule, but only on case by case basis.
      %li race inspection using volunteeers and peer-reviewed system
      %li if you fail to build a safe car you are given a stock power wheel to race until you fix your ride
      %li drift challenge replaces drag race
      %li wheel of misfortune

  %h2 The 2013 Race Schedule
  %p The 2013 Power Racing Series is upon us and here's the first official look at our upcoming race schedule.


  %h2 PPPRS WEST DIVISION
  %h4 May 18-19 Bay Area @ San Mateo
  %p Special one-off exhibition race featuring all new teams from the West Coast in the biggest Maker Faire on the calendar. Special guest judge Jay Lamm from the 24 Hours of Lemons series will invent penalties for the teams on the spot.

  %h2 PPPRS MIDWEST/EAST DIVISION
  %h4 June 29-30 Kansas City @ Union Station
  %p First round of the series takes a trip to KC's gorgeous Union Station. Expect the track to be tight, slow corners followed by mid-length straits. The cars with the best handling will show great promise here.

  %h4 July 27-28 Detroit @ The Henry Ford Museum
  %p Our Landmark race returns yet again! The Detroit circuit is a bumpy high speed affair that will challenge driver skill more than anything else. The track usually features long sweeping corners that necessitate finesse and driver rhythm.

  %h4 September 14-15 Fort Wayne @ TekVenture Indiana

  %h2 EAST DIVISION
  %h3 FINAL ROUND
  %h3 Grand Finale: Sept 28-29 New York, NY

  %hr                  

  %h1 Points: How do they work?
  %p Unlike most real and legitimate racing series, the PPPRS rewards points for two different criteria. The first is your standard run-of-the mill Race points. Yawn. The other is from Moxie points, which is both interesting and frustrating.

  %p This year the points system will reward the BEST 2 culmulative weekend points. That means we take the sum of your points from each weekend you race and tally them towards the championship. If you go to all 3 events you'll be able to throw away your worst weekend. So if you say, blow an engine in one race weekend you won't be out of the championship, pending you attend the other two. It also allows for some of the smaller teams to compete for the championship without having to go to more than two events. If a team is in title contention they must attend the Indiana race to receive any potential prizes (it would be awkward to have a title winner not be present for their trophy presentation)
  %h2 Race Points
  %p Due to our lack of outright originality and our founder’s unquenchable obsession with Formula 1, the points are rewarded almost the exact same ratio, with 100 points for first instead of 25. For those of you who have no idea what that last sentence means, just nod your head, and move along.

  %table.table.striped
    %tr
      %th Finishing place in a race
      %th Points
    %tr
      %td 1st
      %td 100
    %tr
      %td 2nd
      %td 72
    %tr
      %td 3rd
      %td 60
    %tr
      %td 4th
      %td 48
    %tr
      %td 5th
      %td  40
    %tr
      %td 6th
      %td  32
    %tr
      %td 7th
      %td  24
    %tr
      %td 8th
      %td  16
    %tr
      %td 9th
      %td  8
    %tr
      %td 10th
      %td 4
    %tr
      %td 11th
      %td 1



  %h2 Season points rules
  %h4 Moxie Points
  %p Moxie is that little extra spice that levels the playing field. Not only can you win race points, but you can also entice and rile the crowd up and win points from them. It will be the job of your team to find ways to garner audience attention and keep it over your competitors. This is the ultimate pursuit of the weird. Giant boom-box cars, Lucha masked racers, pre-race dance party and confetti cannons are all par for the course. Consider this the social engineering section of your exam. Some teams will write this off, but we at PPPRS think you should take heed: this is where real champions are  crowned. Under develop your car against your rival hackerspace? Easy, gain those points back by dressing up as a chicken. Your odds to win are good if your goods are odd. Consider it Halloween in July, and you have to get more candy bars than that kid next door.

  %h4 How moxie is counted
  %p For every race there is an Arduino-controlled button board that tallies the votes of members of the public. Next to each button is a 6x1.5 inch piece of space that is reserved for your team name and number. You are in charge of making a fancy plaque that occupies this space and thus identifies who you are to the crowd. You can make it as fancy as you’d like, it can be lit up (you’ll have to power it on your own), reflective, as long as it has the name of your team (or hackerspace) and your vehicle number. I won’t begin to lecture you on how many spaces royally screw this bit up. Do not do a last minute on this one because it is the first thing the crowd sees when they are about to vote for you. Nothing like setting your car on fire to the applause of an audience only to realize you used duct tape to identify yourself on there and thus be overlooked.

  %p This board responds to one button press with one second delay. This is so you don’t plant yourself or your teammates out there by the board and just sit on the button all day. It should be noted that this is considered a really lazy and not-creative way to cheat, and thus lame. Don’t be a lame hackerspace. The crowd is instructed to reward your spastic and odd behavior and they get tallied up and normalized to 400 points for every “normal” 100 race points each race. So this season we are not messing around, which means you get to mess around on the track. Moxie this season will be very crucial to victory and thus glorious bragging rights. 



  %h4 Quals Races
  %p The qualifying race will consist of one flying timed lap.  You will set out  from the pit lane, when you cross the Start/Finish line the clock starts. Make it quick because you only have one shot at this.
  %h4 The Road Course Heats
  %p The Road Course event consists of 4 races of 15 laps each.  The first two races/heats are not for points but a qualifying round.  The two heats will split the field of vehicles as evenly as possible. The top winners in each heat will then race in the “Go Fast” final. These vehicles will be racing for the top race points.  The bottom half of the heats will race in the “Go Big” final.  They will be racing for what's left of the race points and as much Moxie as they can muster. Seriously go BIG. This is a great chance to make up any lost points from your slowmobile. You have 15 laps, make it count. Moxie will be still accrued throughout all 4 races but tallied only after the finals have completed. This will ensure that a  race points and possible moxie points are distributed evenly.


  %h4 The Enduro
  %p The endurance race will be 75 minutes of racing glory.  This is a true test of driver skill and vehicle build.  The start of the race will be a LeMans style start. The race will start with the vehicles lined up in the order of their current standing that weekend.  The racers will line up away from their vehicles at a predetermined location.  At the start of the race the drivers will run to their vehicles and take off. During the endurance race a brand new and slightly annoying Relay Race will occur. Every 15 minutes a siren/horn will sound off and all cars are required to race back to the pits and switch drivers with somebody on their team. You HAVE TO PIT regardless if you just pitted 2 laps before. So try to time your pits accordingly. You may not reverse course if you just past pit lane. You cannot drive the wrong way up pit lane.  If you just passed pit lane, finish your lap and enter pit lane when you come around again.  It does not matter where you find your other drivers as long as they are of legal driving age and are not the same driver from the previous stint. If you are low on people and have multiple cars they can both trade places, just as long as nobody shares the same car two times in a row. Creative and fast pit times will be rewarded with overtakes in the pit lane. Anything goes as long as you do not actively prevent other teams from switching their drivers

  %h4 Rule Infractions and Penalties
  %p This is a very new and very awesome section of the rules this year. Though we at the PPPRS openly encourage a few bits of rough racing, we want you to be safe too. Legally, we are supposed to care about your well being, so don’t mess that up for us. This is a nice thing we have going here, and we don’t want your broken bones to be the reason we can’t set ourselves on fire. With that in regards, we do want to make sure you don’t completely alienate yourself from everyone by being a self-righteous ram-a-saurous-wrecks that just makes everyone’s day worse. So when you drive a bit hot and bothered we will drop the ban hammer on you, and here’s the list of awesome things we’ll do that will annoy you and make us laugh for hours and hours at your expense.

  %h4 Boo-Hoo Box
  %p You will be impounded into the penalty box and given a really stupid penalty that you have to do when we spin the Wheel-Of-Shame.

  %h4 The spirit of power wheel racing
  %h4 When you complain too much
  %p Seriously guys/gals, we are racing kids toys here. If you are complaining too much, you are not having any fun and you are bringing everyone around you down. If you complaining annoys the sanctioning body, we will give you a reason o complaine.

  %hr

  %h1 Trophies and Awards

  %h2 The Big Three
  %p The Power Racing Series chucks out 3 big trophies a year. These are designed to be handed down from winner to winner each year. This simply means that If you are from a family with more than one sibling you’ll be able to relate when the trophy is just the right length for your legs but way too tight in the waist. Think of these as the Stanley Cup: you get to “hold” it around for a year and rub it in the face of everyone else until next year. Note: if you keep the damn thing and then never return it you sort of suck. That’s mean. Why would you do that? Didn’t you learn about sharing from Sesame Street?
  %p Also note that if you win the trophy it is your duty to modify it somehow for next year. Add but don’t subtract and try not to set it on fire. Unless it is the Crash-And-Burn trophy, in which case it would be painfully appropriate.
  %h4 The Tesla Cup (all Points)
  %p The Tesla Cup is the big fancy trophy that everyone wants. This is the result of carefully balancing your race points and your moxie points. You have successfully managed to build a car that is both fast and you’ve gone out of your way to make a complete fool of yourself in front of crowds young and old alike. If you win this you have successfully captured the most sought after prize in power wheels. That or you just got really lucky. Good for you.
  %h4 The Moxie Cup (all Moxie)
  %p You are here to have fun only. You really don’t give a rats backside about going fast, and you probably made your car to ride slower than a stock power wheel and handle worse than an offset cement mixer. Your car might look like a mythical creature or you’ve dressed up like a cross between Ziggy Stardust and Lady Gaga. You have focused all your attention on gathering crowd attention and have annoyed all the poor folks out there trying to make a race out of this event by being a rolling blockade.
  %h4 The Champman (all Race)
  %p If this is the only award you care about we actually don’t know why you are here. You are seriously racing power wheels, just to win? I guess you can do that, I mean it is fine if you want to. You are mad though. You are just a mad, silly person. This trophy is here for those who hard-charged to the front and managed to enter races and win as seriously as possible. Its not that we want to vilify winning above all, it just really confuses us. They’re power wheels, ok?

  %h2 The Race Medals
  %p Every race has its winners and losers. Since this is a “racing series” we are required by the racing gods to reward the folks who manage to be ahead of the losers, be it by chance or sheer will, or something. At the end of each race the top three drivers get to stand on a podium of sorts and say a few words of encouragement for the other teams who just clearly didn’t try hard enough.
  %h4 The Golden Yes
  %p You are Mr/Ms Race Winner. You get a big ol’ Yes from us! You also get a hi-five.
  %h4 The Silver Ok
  %p You are the first loser, but that’s ok. You’re better than most so you get a low-five
  %h4 The Bronze No
  %p What, you get an award too? Geez, I guess so, but you get a  big “no” from us. Also your low-five is down real low, and thus we will pull our hand away in a metaphorical nod to your performance: too slow.

  %h2 Other Prizes
  %p These are a few random awards we’ve put together over the years to encourage some of the utterly confusing behavior this series has brought into reality. They are yearly rewards and the trophies change in quality every year, just like Fox’s Primetime lineup.
  %h4 Crash and Burn award
  %P Congratulations! You have chosen to build an off-road vehicle. The only problem is that the PPPRS is on-road racing series, which means you’ve spent more laps on the tire wall than actually on the track. You also might be Australian and have spent most of your time upside down. Luckily there’s an award for that.
  %h4 My Pretty Princess
  %p This is our Concours D’eleagance. You’ve built a car that actually looks brilliant. It looks so nice that we actually felt bad when Gravedigger plowed it into the wall on the way to winning another Crash & Burn. If you intend to win this award be sure to take a lot of pictures before race day, because she ain’t going to be pretty after we’re done.
  %h4 Hockey Dad Cares Too Much
  %p You entered this series to try and win the Chapman. You are also probably the reason why these rules are not the one-page fun fest we once typed up the night before an event. You actually post the mailing list to nit-pick and chew apart the rules that we’ve carefully crafted over many nights of excessive alcohol abuse and chronic pizza consumption. We take our jobs so seriously and you’re a big meanie so we made a trophy to prove how much of a butt you are. It is very likely that this trophy will have a shoddy build quality and still have paint drying. We still love you though. Kiss. Kiss.
